.git
.github/
.vscode/
.serverless
aws
dist/
migrations
node_modules/
scripts
seeds
.env
.env.*
.gitignore
.nvmrc
codegen.yml
docker-compose.yml
Dockerfile
jest.config.ts
knexfile.ts
README.md
serverless.yml
webpack.dev.js
webpack.serverless.js
