name: CI
on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    container: node:14

    steps:
    - uses: actions/checkout@v1

    - name: Install dependencies
      run: yarn install --frozen-lockfile
    
    - name: Typecheck
      run: yarn tsc --noEmit
    
    - name: Lint
      run: yarn lint

    - name: Schema validation
      run: yarn validate-schema
